$white: rgb(231, 229, 229);
$brown: rgb(43, 48, 58);
$gunmetal: rgb(28, 48, 65);
$grapefruit: rgba(255, 94, 98, 1);
$grapefruitclear: rgba(255, 94, 98, .95);
$citrusclear: linear-gradient(90deg, rgba(255,84,139,.9) 0%, rgba(255,110,92,.9) 55%, rgba(255,131,97,.9) 100%);
$citrus: linear-gradient(90deg, rgba(255,84,139,1) 0%, rgba(255,110,92,1) 55%, rgba(255,131,97,1) 100%);
$linearwhite: linear-gradient(90deg, rgba(251,252,255,1) 0%, rgba(218,233,255,.9) 100%);

#blogs {
  position: absolute;
  top: -4.5rem;
}

.blogs-section {
  display: flex;
  flex-direction: column;
  background-image: url('../images/comets.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 5;
  .blogs-content {
    display: flex;
    flex-direction: column;
    background-color: rgba(43, 48, 58, .85);
    padding: 8vh 10vw 2vh 10vw;
    .blogs-content__blogs {
      a {
        color: $gunmetal;
      }
    }
  }
  .blog-card {
    width: 100%;
    min-height: 35vh;
    background: linear-gradient(90deg, rgba(251,252,255,1) 0%, rgba(218,233,255,1) 100%);
    margin-bottom: 2rem;
    display: flex;
    transition: 500ms ease-in-out;
    .blog-card__image {
      width: 35%;
      object-fit: cover;
    }
    .blog-card__text {
      font-family: "Montserrat", sans-serif;
      padding: 2rem 1rem;
      width: 60%;
      h2 {
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        transition: 500ms ease-in-out;
      }
      p {
        font-size: 1.1rem;
        font-weight: 400;
        margin: 1rem 0;
      }
    }
    .blog-card__arrow {
      width: 5%;
      display: flex;
      justify-content: center;
      transition: 500ms ease-in-out;
      margin-left: auto;
      svg {
        width: 1rem;
        color: transparent;
      }
    }
  }
  .blog-card:hover {
    box-shadow: 5px 5px 6px rgb(56, 52, 52);
    .blog-card__arrow {
      background-color: $grapefruit;
      svg {
        color: white;
      }
    }
  }
}

.contact-info {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  color: white;
  align-items: center;
  padding: 3vh 0;
  p {
    transition: 600ms ease;
    margin: 3vh 0;
  }
  p:hover {
    color: $grapefruit;
  }
}

.contact-links {
  display: flex;
  justify-content: space-between;
  min-width: 25vw;
  font-size: 2rem;
  margin: 5vh 0;
  a {
    color: white;
    transition: 600ms ease;
  }
  a:hover {
    color: $grapefruit;
  }
}

.contact-email-bottom {
  position: relative;
  right: 1.5rem;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .blogs-section {
    .blogs-content {
      padding: 2rem 0;
    }
    .blog-card {
      .blog-card__text {
        p {
          font-size: 1rem;
        }
      }
    }
  }
      
  .contact-info {
    p {
      transition: 600ms ease;
    }
    p:hover {
      color: $grapefruit;
    }
  }

  .contact-links {
    display: flex;
    justify-content: space-evenly;
    min-width: 30vw;
    width: 80vw;
    font-size: 2rem;
    a {
      color: white;
      transition: 600ms ease;
      font-size: 2rem;
    }
    a:hover {
      color: $grapefruit;
    }
  }
  .contact-email-bottom {
    right: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .blogs-section {
    .blogs-content {
      min-height: initial;
      height: auto;
    }
    .blog-card {
      height: 21vh;
      .blog-card__text {
        padding: 1rem;
        h2 {
          font-size: 2rem;
        }
        p {
          font-size: 1.5rem;
        }
      }
    }
  }
      
  .contact-info {
    padding-bottom: 0;
    p {
      transition: 600ms ease;
    }
    p:hover {
      color: $grapefruit;
    }
  }

  .contact-links {
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    a {
      color: white;
      transition: 600ms ease;
      font-size: 4rem;
    }
    a:hover {
      color: $grapefruit;
    }
  }
  .contact-email-bottom {
    right: 3.5rem;
  }
}
