$white: rgb(231, 229, 229);
$brown: rgb(43, 48, 58);
$gunmetal: rgb(28, 48, 65);
$grapefruit: rgba(255, 94, 98, 1);
$grapefruitclear: rgba(255, 94, 98, .95);
$citrusclear: linear-gradient(90deg, rgba(255,84,139,.9) 0%, rgba(255,110,92,.9) 55%, rgba(255,131,97,.9) 100%);
$citrus: linear-gradient(90deg, rgba(255,84,139,1) 0%, rgba(255,110,92,1) 55%, rgba(255,131,97,1) 100%);
$linearwhite: linear-gradient(90deg, rgba(251,252,255,1) 0%, rgba(218,233,255,.9) 100%);

#blogs {
  position: absolute;
  top: -6.5rem;
}

.blogs-section {
  display: flex;
  flex-direction: column;
  background-image: url('../images/comets.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100vw;
  .blogs-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(43, 48, 58, .85);
    padding: 2rem 10vw;
  }
  .blog-card {
    width: 100%;
    height: 35vh;
    background: linear-gradient(90deg, rgba(251,252,255,1) 0%, rgba(218,233,255,1) 100%);
    margin-bottom: 2rem;
    display: flex;
    transition: 500ms ease-in-out;
    .blog-card__image {
      width: 35%;
      height: 100%;
      object-fit: cover;
    }
    .blog-card__text {
      font-family: "Montserrat", sans-serif;
      padding: 2rem 1rem;
      width: 60%;
      h2 {
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        transition: 500ms ease-in-out;
      }
      p {
        font-size: 1.1rem;
        font-weight: 400;
        margin: 1rem 0;
      }
    }
    .blog-card__arrow {
      width: 5%;
      display: flex;
      justify-content: center;
      transition: 500ms ease-in-out;
      svg {
        width: 1rem;
        color: transparent;
      }
    }
  }
  .blog-card:hover {
    box-shadow: 5px 5px 6px rgb(56, 52, 52);
    .blog-card__arrow {
      background-color: $grapefruit;
      svg {
        color: white;
      }
    }
  }
}

.contact-info {
  width: 100vw;
  min-height: 25vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  color: white;
  align-items: center;
  background-color: rgba(43, 48, 58, .85);
  padding-bottom: 2rem;
  p {
    transition: 600ms ease;
    margin-bottom: 1.5vh;
  }
  p:hover {
    color: $grapefruit;
  }
}

.contact-links {
  display: flex;
  justify-content: space-between;
  min-width: 6vw;
  width: 13vw;
  height: 6vh;
  font-size: 2rem;
  margin-top: auto;
  a {
    color: white;
    transition: 600ms ease;
  }
  a:hover {
    color: $grapefruit;
  }
}

.contact-email-bottom {
  position: relative;
  right: 2vw;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .blogs-section {
    .blogs-content {
      padding: 2rem 0;
    }
    .blog-card {
      .blog-card__text {
        width: 58%;
        p {
          font-size: 1rem;
        }
      }
    }
  }
      
  .contact-info {
    width: 100vw;
    height: 45vh;
    p {
      transition: 600ms ease;
    }
    p:hover {
      color: $grapefruit;
    }
  }

  .contact-links {
    display: flex;
    justify-content: space-evenly;
    min-width: 30vw;
    width: 80vw;
    height: 10vh;
    font-size: 2rem;
    margin-top: 2rem;
    a {
      color: white;
      transition: 600ms ease;
      font-size: 2rem;
    }
    a:hover {
      color: $grapefruit;
    }
  }
  .contact-email-bottom {
    position: relative;
    right: 3.5vw;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .blogs-section {
    .blogs-content {
      min-height: initial;
      height: auto;
      padding: 0;
    }
  }

  .blog-slide {
    width: 100vw;
    max-height: initial;
    object-fit: contain;
  }
      
  .contact-info {
    width: 100vw;
    height: 40vh;
    p {
      transition: 600ms ease;
    }
    p:hover {
      color: $grapefruit;
    }
  }

  .contact-links {
    display: flex;
    justify-content: space-evenly;
    min-width: 30vw;
    width: 80vw;
    height: 10vh;
    font-size: 2rem;
    a {
      color: white;
      transition: 600ms ease;
      font-size: 4rem;
    }
    a:hover {
      color: $grapefruit;
    }
  }
  .contact-email-bottom {
    position: relative;
    right: 7vw;
    cursor: pointer;
  }
}
