$brown: rgb(43, 48, 58);
$beige: rgb(240, 210, 134);
$white: rgb(231, 229, 229);
$gunmetal: rgb(28, 48, 65);
$grapefruit: #ff5e62;
$citrus: linear-gradient(90deg, rgba(255,84,139,1) 0%, rgba(255,110,92,1) 55%, rgba(255,131,97,1) 100%);
$linearwhite: linear-gradient(90deg, rgba(251,252,255,1) 0%, rgba(218,233,255,.9) 100%);

.profile-sliders {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: 10;
  top: 0;
}

.profile-left {
  width: 100vw;
  height: 100%;
  background: linear-gradient(90deg, rgba(255,110,92,1) 55%, rgba(255,131,97,1) 100%);  
  transform: skew(45deg);
  z-index: 1;
}

.profile-left:before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, rgba(255,110,92,1) 55%, rgba(255,131,97,1) 100%);  
  z-index: 1;
}

.profile-left:after {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, rgba(255,110,92,1) 55%, rgba(255,131,97,1) 100%);  
  z-index: 1;
}

.profile-right {
  width: 100vw;
  height: 100%;
  background: linear-gradient(270deg, rgba(219,222,236,1) 16%, rgba(196,192,201,1) 53%, rgb(247, 221, 207) 96%);
  transform: skew(45deg);
  z-index: 1;
}

.profile-right:before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100%;
  transform: skew(-45deg) translateX(50%);
  background: linear-gradient(270deg, rgba(219,222,236,1) 16%, rgba(196,192,201,1) 53%, rgb(247, 221, 207) 96%);
  z-index: 1;
}

.profile-right:after {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100%;
  background: linear-gradient(270deg, rgba(219,222,236,1) 16%, rgba(196,192,201,1) 53%, rgb(247, 221, 207) 96%);
  z-index: 1;
}

[data-aos="profile-slide-left"] {
  &.aos-animate {
    transform: skew(45deg) translateX(-200%);
  }
}

[data-aos="profile-slide-right"] {
  &.aos-animate {
    transform: skew(45deg) translateX(200%);
  }
}

.profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $gunmetal;
  position: relative;
  font-family: 'Spartan', Lucida, sans-serif;
  background: linear-gradient(90deg, rgba(218,233,255,1) 0%, rgba(230, 240, 255, 0.9) 50%, rgb(171, 208, 233) 100%); 
  padding: 4rem;
}

.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  z-index: 1;
}

.eric-sk-cheung {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  left: 2vw;
  top: 2vh;
  object-fit: cover;
  z-index: 1;
}

.eric-background-circle {
  position: absolute;
  background: $citrus;
  height: 10.5rem;
  width: 10.5rem;
  border-radius: 50%;
  z-index: 0;
}

.profile-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 50vw;
  font-size: .9rem;
  padding: 1rem 0;
  .text {
    margin-bottom: 1rem;
  }
  p.text {
    margin-top: 0;
  }
  h1.text {
    color: $grapefruit;
    text-shadow: 2px 2px rgb(253, 217, 217);
  }
  .text.desc {
    margin-top: 1rem;
    line-height: 2rem;
  }
  .text:hover {
    color: $grapefruit;
    transition: 600ms;
  }
}

.profile-technical-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  .profile-skills {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    .profile-skill {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 0 1rem;
      height: 6rem;
    }
    .profile-skill-icon {
      height: 5rem;
      width: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .profile-skill-icon-semantic {
      height: 4rem;
      width: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .image-icon {
      width: 4rem;
    }
  }
}

h1.text, h3.text {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  margin: 1rem 0 2rem 0;
}
h4.text {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 1rem 0 2rem 0;
}

@media only screen and (max-width: 800px) {
  .profile-left, .profile-right {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .profile-left, .profile-right {
    display: none;
  }

  .eric-sk-cheung {
    filter: brightness(1.1);
    z-index: 200;
    width: 15rem;
    height: 15rem;
  }

  .eric-background-circle {
    width: 17rem;
    height: 17rem;
  }

  .profile-section {
    .profile-text {
      max-width: initial;
      font-size: 1.8rem;
    }
    h1, h2, h3 {
      font-size: 2.7rem;
    }
    .text.desc {
      line-height: 4rem;
    }
  }
  
  .profile-technical-skills {
    .profile-skills {
      .profile-skill {
        margin: 0 1rem;
        height: 12rem;
      }
      .profile-skill-icon {
        height: 9rem;
        width: 9rem;
      }
      .profile-skill-icon-semantic {
        height: 8rem;
        width: 8rem;
      }
    }
  }
  h4.text {
    font-size: 2rem;
    margin: 2rem 0 3rem 0;
  }
}