$green: #76B041;
$brown: rgb(43, 48, 58);
$teal: #17BEBB;
$beige: rgb(240, 210, 134);
$white: rgb(231, 229, 229);
$gunmetal: rgb(28, 48, 65);
$grapefruit: rgba(255, 94, 98, 1);
$grapefruitclear: rgba(255, 94, 98, .95);
$citrusclear: linear-gradient(90deg, rgba(255,84,139,.9) 0%, rgba(255,110,92,.9) 55%, rgba(255,131,97,.9) 100%);
$citrus: linear-gradient(90deg, rgba(255,84,139,1) 0%, rgba(255,110,92,1) 55%, rgba(255,131,97,1) 100%);
$yellow:rgb(235, 184, 54);
$linearwhite: linear-gradient(90deg, rgba(251,252,255,1) 0%, rgba(218,233,255,.9) 100%);

// box-shadow: 
// 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
// -8px -8px 12px 0 rgba(255, 255, 255, 0.3);

:root {
  font-size: 16px;
  font-family: 'Spartan', Lucida, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

//Welcome Section

.welcome-panel-left {
  background-color: $grapefruit;
  width: 50%;
  animation-name: slideright;
  visibility: hidden;
  height: 100vh;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.welcome-panel-right {
  background-color: $grapefruit;
  width: 50%;
  animation-name: slideleft;
  visibility: hidden;
  height: 100vh;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes slideleft {
  0% {transform: translateX(150%); visibility: visible;}
  100% {transform: translateX(0); visibility: visible;}
}
@keyframes slideright {
  0% {transform: translateX(-150%); visibility: visible;}
  100% {transform: translateX(0); visibility: visible;}
}

.welcome-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: linear-gradient(90deg, rgb(203, 206, 216) 0%, rgba(218,233,255,.9) 100%);
  overflow:hidden;
  font-family: 'Sawarabi Gothic', 'Noto Sans JP';
  position: absolute;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  .signature {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: $grapefruit;
    margin: auto 0;
    font-size: 10rem;
    position: absolute;
    height: 12rem;
    width: 12rem;
    box-shadow:
      12px 12px 16px 0 rgba(0, 0, 0, 0.25),
      -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .signature-pressed {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: $grapefruit;
    margin: auto 0;
    font-size: 10rem;
    position: absolute;
    height: 12rem;
    width: 12rem;
    box-shadow:
      inset 12px 12px 16px 0 rgba(0, 0, 0, 0.2),
      inset -8px -8px 12px 0 rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.header-bar {
  padding: 1rem 11vw;
  min-height: 25vh;
  background: $grapefruitclear;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  filter: brightness(1);
  color: white;
  h1.projects-header,
  h1.resume-header,
  h1.blogs-header {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5rem;
    margin-top: 3vh;
  }
}

.loader-section {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $grapefruit;
  svg {
    width: 10rem;
    color: rgb(228, 228, 228);
  }
}

.loader-blog-section {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  left: 0;
  right: 0;
  top: 40vh;
  bottom: 0;
  svg {
    width: 10rem;
    color: $gunmetal;
  }
}

#loader {
  animation-name: loader;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	transform-origin: 50% 50%;
	will-change: transform;
}

@keyframes loader {
	100% {
		transform: rotate(360deg);
	}
}

.notfound-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgb(203, 206, 216) 0%, rgba(218,233,255,.9) 100%);
  h1 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: $grapefruit;
  }
  p {
    font-family: "Montserrat", sans-serif;
    color: $grapefruit;
  }
}

.particles {
  width: 100%;
  height: 60vh;
  background: linear-gradient(90deg, rgba(251,252,255,1) 0%, rgba(218,233,255,.9) 100%);
  // background: linear-gradient(180deg, rgba(255, 94, 98, 1) 0%, rgba(255,144,147,1) 37%, rgba(238,205,163,1) 100%);
  // background-image: url("");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: 50% 50%;
  opacity: 1;
}

.styles_typicalWrapper__1_Uvh::after {
  content: "" !important;
  animation: none;
}

.image-section-type {
  background: $linearwhite;
  position: relative;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typescript {
  position: absolute;
  color: $grapefruit;
  text-transform: uppercase;
  font-family: 'Josefin Sans';
}

.jesuslight {
  height: 100%;
  width: 100%;
  background: linear-gradient(120deg, rgba(148,187,233,0.1) 25%, rgba(255,255,255,0.3) 55%, rgba(148,187,233,0.1) 85%);
  animation-name: jesuslight;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  opacity: 0;
}

@keyframes jesuslight {
  20% { 
    opacity: 1; 
  }
  40% {
    opacity: 0;
  }
  60% {  
    opacity: 1; 
  }
  100% {
    opacity: 0;
  }
}

.image-section-astro {
  background-image: url('./images/astro.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 60vh;
  position: relative;
}

.image-section-three {
  display: flex;
  height: 70vh;
  background-color: #272932;
  z-index: 1;
  position: relative;
  .image-three {
    width: 33.3vw;
    object-fit: cover;
    transition: 600ms;
    opacity: 0;
    animation-name: slideshow;
    animation-duration: 6000ms;
    animation-fill-mode: forwards;
  }
  .image-desc {
    bottom: 0;
    left: 2vw;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    .image-desc-text {
      font-family: 'Bebas Neue', Lucida, sans-serif;
      font-size: 3rem;
      display: inline-block;
      text-shadow: 1px 1px 3px #383a42;
    }
    .image-desc-text.type {
      border-right: 2px solid #aaa;
      animation: cursor .5s infinite;
    }
    
    @keyframes cursor {
      0% { border-color: transparent }
      100% { border-color: #aaa }
    }
  }
}

@keyframes slideshow {
  5% {opacity: 1}
  100% {opacity: 1}
}

@media only screen and (max-width: 800px) {
  .eric-sk-cheung {
    width: 10vw;
    height: 10vw;
  }

  .header-bar {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    font-size: 8px;
  }

  .welcome-section {
    .signature {
      font-size: 18rem;
      height: 24rem;
      width: 24rem;
    }
    .signature-pressed {
      font-size: 18rem;
      height: 24rem;
      width: 24rem;
    }
  }

  .header-bar {
    padding: 1rem 11vw;
    min-height: 10vh;
    h1.projects-header,
    h1.resume-header,
    h1.blogs-header {
      font-family: 'Josefin Sans', sans-serif;
      margin-top: 1vh;
      font-size: 3rem;
    }
  }

  .jesuslight {
    height: 100%;
    width: 100%;
    background: linear-gradient(120deg, rgba(148,187,233,0.1) 25%, rgba(255,255,255,0.3) 55%, rgba(148,187,233,0.1) 85%);
  }

  .particles {
    height: 40vh;
  }
  
  .image-section-type {
    height: 40vh;
  }
    
  .image-section-astro {
    height: 30vh;
    background-attachment: initial;
  }
  .image-section-tea {
    height: 30vh;
  }
  .image-section-three {
    height: 30vh;
  }
}
