$green: #76B041;
$brown: rgb(43, 48, 58);
$teal: #17BEBB;
$beige: rgb(240, 210, 134);
$white: rgb(231, 229, 229);
$gunmetal: rgb(28, 48, 65);
$grapefruit: #ff5e62;
$yellow:rgb(235, 184, 54);
$linearwhite: linear-gradient(90deg, rgba(251,252,255,1) 0%, rgba(218,233,255,.9) 100%);

// box-shadow: 
// 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
// -8px -8px 12px 0 rgba(255, 255, 255, 0.3);

:root {
  font-size: 16px;
  font-family: 'Lato', Lucida, sans-serif;;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

//Welcome Section

.welcome-panel-left {
  background-color: $grapefruit;
  width: 50%;
  animation-name: slideright;
  visibility: hidden;
  height: 100vh;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.welcome-panel-right {
  background-color: $grapefruit;
  width: 50%;
  animation-name: slideleft;
  visibility: hidden;
  height: 100vh;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes slideleft {
  0% {transform: translateX(150%); visibility: visible;}
  100% {transform: translateX(0); visibility: visible;}
}
@keyframes slideright {
  0% {transform: translateX(-150%); visibility: visible;}
  100% {transform: translateX(0); visibility: visible;}
}

.welcome-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: linear-gradient(90deg, rgb(203, 206, 216) 0%, rgba(218,233,255,.9) 100%);
  overflow:hidden;
  font-family: 'Sawarabi Gothic', 'Noto Sans JP';
  position: relative;
  align-items: center;
  justify-content: center;
  .signature {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: $grapefruit;
    margin: auto 0;
    font-size: 10rem;
    position: absolute;
    height: 12rem;
    width: 12rem;
    box-shadow:
      12px 12px 16px 0 rgba(0, 0, 0, 0.25),
      -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .signature-pressed {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: $grapefruit;
    margin: auto 0;
    font-size: 10rem;
    position: absolute;
    height: 12rem;
    width: 12rem;
    box-shadow:
      inset 12px 12px 16px 0 rgba(0, 0, 0, 0.2),
      inset -8px -8px 12px 0 rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

//Navbar Section

.eric-sk-cheung {
  position: absolute;
  border-radius: 50%;
  width: 8vw;
  height: 8vw;
  left: 2vw;
  top: 2vh;
  background-image: url('./images/ericskc.jpg');
  background-size: cover;
  opacity: 0;
  z-index: 100;
  visibility: visible;
}

@keyframes enter {
  0%{transform: translateY(-20vh)}
  100%{transform: translateY(0); opacity: 1}
}

[data-aos="navbar-relocate-eric"] {
  &.aos-animate {
    transform: translateX(88vw);
    position: fixed;
    opacity: 1;
  }
}

.ulClone {
  display: flex;
  justify-content: space-evenly;
  visibility: hidden;
  position: fixed;
}

.navbar-top {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  z-index: 1000;
  font-family: 'Lato', Lucida, sans-serif;
  font-size: 1.1rem;
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
  }
}

[data-aos="navbar-relocate-top"] {
  &.aos-animate {
    visibility: hidden;
  }
}

[data-aos="navbar-relocate-projects-top"] {
  &.aos-animate {
    transform: translateX(54.5vw);
    visibility: hidden;
  }
}

[data-aos="navbar-relocate-resume-top"] {
  &.aos-animate {
    transform: translateX(47vw);
    visibility: hidden;
  }
}

[data-aos="navbar-relocate-blogs-top"] {
  &.aos-animate {
    transform: translateX(40vw);
    visibility: hidden;
  }
}

[data-aos="navbar-relocate-contact-top"] {
  &.aos-animate {
    transform: translateX(33vw);
    visibility: hidden;
  }
}

.navbar-right {
  right: 0;
  position: fixed;
  width: 10vw;
  height: 100vh;
  z-index: 1000;
  font-family: 'Lato', Lucida, sans-serif;
  font-size: 1.1rem;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 2vh;
  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
  }
  li {
    position: absolute;
    top: 0;
  }
}

[data-aos="navbar-relocate-projects-right"] {
  &.aos-animate {
    transform: translateY(18vh);
    visibility: visible;
  }
}

[data-aos="navbar-relocate-resume-right"] {
  &.aos-animate {
    transform: translateY(28vh);
    visibility: visible;
  }
}

[data-aos="navbar-relocate-blogs-right"] {
  &.aos-animate {
    transform: translateY(38vh);
    visibility: visible;
  }
}

[data-aos="navbar-relocate-contact-right"] {
  &.aos-animate {
    transform: translateY(48vh);
    visibility: visible;
  }
}

li {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.nav-item {
  position: relative;
}
.nav-link {
  text-decoration: none;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 7rem;
  margin: 1rem 0;
  box-sizing: border-box;
  text-transform: uppercase;
  color: white;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.nav-link:hover {
  text-shadow: 1px 1px 2px rgb(142, 116, 101);
  transition: 250ms;
  color: white;
}
.nav-link:before {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border: 3px solid transparent;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
}
.nav-link:hover:before {
  height: 2.5rem;
  width: 5rem;
  border: 4px solid rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  border-right: none;
  border-bottom: none;
  transition: height 250ms linear, width 200ms linear 250ms;
}
.nav-link:after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border: 3px solid transparent;
  box-sizing: border-box;
  top: 0;
  right: 0;
  transform: scaleX(0);
}
.nav-link:hover:after {
  transform: scaleX(1);
  height: 2.5rem;
  width: 5rem;
  border: 4px solid rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  border-left: none;
  border-top: none;
  transition: height 250ms linear, width 200ms linear 250ms;
}

.nav-contact-closed {
 opacity: 0;
 visibility: hidden;
 pointer-events: none;
 width: 21rem;
 height: 0;
 position: absolute;
}

.nav-contact-open {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  top: 4rem;
  right: 0;
  transition: 350ms ease-in-out;
  transform: translateY(10%);
  width: 21rem;
  background-color: rgba(0, 0, 0, .50);
  border-radius: 10px;
  a {
    color: white;
  }
  a:hover, .contact-email:hover {
    text-shadow: 2px 2px 2px $grapefruit;
    color: white;
  }
  a:visited {
    color: white;
  }
  .contact-email {
    z-index: 10;
    color: white;
    cursor: pointer;
  }
}
@keyframes copied {
  20% {opacity: 1}
  80% {opacity: 1}
  100%{opacity: 0}
}
.copied-closed {
  width: 0;
  pointer-events: none;
  visibility: hidden;
}
.copied-open {
  transition: 300ms ease-in-out;
  opacity: 0;
  animation-name: copied;
  animation-duration: 9s;
  text-shadow: 2px 2px 4px $brown;
}

//Name Section
.name-section {
  width: 100vw;
  height: 100vh;
  font-family: 'Bebas Neue', Lucida, sans-serif;
  background-image: url('images/gate.jpg');
  background-size: cover;
  background-position: center;
}

.name-section-front {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $grapefruit;
  opacity: .95;
  height: 100vh;
}

.animated.zoomIn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  h1 {
    color: transparent;
    font-family: "Bebas Neue", Lucida, sans-serif;
    margin: 0;
    font-size: 12rem;
    background-image: url('images/gate.jpg');
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-clip: text;
    background-clip: text;
    -ms-background-clip: text;
  }
  h1:hover {
    color: rgb(235, 235, 235);
    text-shadow: 3px 3px 4px rgb(129, 109, 111);
    transition: 1000ms;
  }
  h1:before {
    content: '';
    border: none;
    border-top: 1rem solid rgba(255, 255, 255, 0.75);
    border-bottom: 1rem solid rgba(255, 255, 255, 0.75);
    height: 13.5rem;
    width: 36rem;
    transform: scaleX(0);
    transition: 1000ms;
    box-sizing: border-box;
    position: absolute;
  }
  h1:hover:before {
    transform: scaleX(1);
  }
}

//Profile

.profile-sliders {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100%;
}

.profile-left {
  width: 100vw;
  height: 100%;
  background: linear-gradient(90deg, rgba(251,252,255,1) 0%, rgba(218,233,255,.9) 100%);
  transform: skew(45deg);
  z-index: 1;
}

.profile-left:before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100%;
  transform: translateX(-50%);
  background-color: $white;
  z-index: 1;
}

.profile-left:after {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100%;
  transform: translateX(-50%);
  background-color: $white;
  z-index: 1;
}

.profile-right {
  width: 100vw;
  height: 100%;
  background: linear-gradient(90deg, rgba(244,107,69,1) 33%, rgba(238,168,73,1) 83%);
  transform: skew(45deg);
  z-index: 1;
}

.profile-right:before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100%;
  transform: skew(-45deg) translateX(50%);
  background-color: orange;
  z-index: 1;
}

.profile-right:after {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: orange;
  z-index: 1;
}

[data-aos="profile-slide-left"] {
  &.aos-animate {
    transform: skew(45deg) translateX(-200%);
  }
}

[data-aos="profile-slide-right"] {
  &.aos-animate {
    transform: skew(45deg) translateX(200%);
  }
}

.profile-section {
  display: flex;
  justify-content: center;
  color: rgb(245, 237, 240);
  position: relative;
  font-family: 'Lato', Lucida, sans-serif;
  background: rgb(96,108,136);
  background: linear-gradient(180deg, rgba(96,108,136,1) 11%, rgba(63,76,107,1) 55%);
}

.profile-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  justify-content: center;
  max-width: 50vw;
  font-size: 1.1rem;
  padding: 1rem 0;
  .text {
    margin: 1rem;
  }
  h2.text {
    text-transform: uppercase;
  }
  p.text {
    margin-top: 0;
  }

  .text.desc {
    margin-top: 3rem;
  }
  .text:hover {
    text-shadow: 2px 2px 2px $brown;
    transition: 600ms
  }
}

.header-bar {
  padding: .5rem;
  min-height: 10vh;
  background: linear-gradient(90deg, rgba(255,84,139,.9) 0%, rgba(255,110,92,.9) 55%, rgba(255,131,97,.9) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(1);
  color: white;
}

//Projects Section

.navbar-tab {
  min-height: 60vh;
  min-width: 11vw;
  width: 11vw;
  background: $brown;
  opacity: .75;
}

.projects-section {
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Spartan', Lucida, sans-serif;
  background-image: url('./images/wood.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  .projects-content {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    min-height: 91vh;
  }
  .panels {
    display: flex;
  }
  .panel {
    box-shadow: inset 0 0 0 2px rgba(255,255,255,0.1);
    color: $gunmetal;
    text-align: center;
    align-items: center;
    flex: 1;
    transition:
      font-size 0.5s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      flex 0.5s,
      background 0.2s;
    font-size: 1rem;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(90deg, rgba(251,252,255,1) 0%, rgba(218,233,255,.9) 100%);
    min-height: 90vh;
    overflow: hidden;
  }
}

.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  padding: 1rem;
  transition: 600ms ease;
}

.panel > *:first-child {
  transform: translateY(-10%);
  min-height: 17vh;
  visibility: hidden;
  opacity: 0;
  width: 0;
  transition: 600ms ease;
}

.panel:hover > *:first-child {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  min-width: 90%;
  z-index: 4;
}

.panel > *:nth-child(2) {
  transform: translateY(-100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 10vh;
  font-family: "Lato", Lucida, sans-serif;
  text-transform: uppercase;
  align-items: center;
}

.panel:hover > *:nth-child(2) {
  transform: translateY(0);
  height: 4rem;
}

.panel > *:nth-child(3) {
  transform: translateY(0);
}

.panel:hover > *:nth-child(3) {
  transform: translateY(0);
}

.panel > *:last-child {
  transform: translateY(50vh);
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.panel:hover > *:last-child {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
  line-height: 2rem;
  max-width: 30vw;
  height: auto;
  max-height: 10vh;
}

.panel h2:hover {
  color: $grapefruit;
  transition: 600ms;
  text-shadow: 1px 1px 1px rgb(92, 98, 104);
}

.panel p:nth-child(2) {
  font-size: 1rem;
}

.panel:hover {
  flex: 4;
}

//Resume Section

.resume-section {
  background-image: url('./images/pieces.jpg');
  background-size: cover;
  background-attachment: fixed;
  .resume-header-bar {
    padding: .5rem;
    min-height: 10vh;
    background: linear-gradient(90deg, rgba(255,84,139,.9) 0%, rgba(255,110,92,.9) 55%, rgba(255,131,97,.9) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(1);
    color: white;
  }
  .resume-content {
    display: flex;
    background-color: rgba(43, 48, 58, .85);
    min-height: 90vh;
    padding: 0 10vw;
  }
  .resume-text {
    padding: 1rem 5rem 2rem 5rem;
    background: linear-gradient(90deg, rgba(251,252,255,1) 0%, rgba(218,233,255,1) 100%);
    max-width: 80vw;
    h2, h3 {
      margin: 1rem 0 0.5rem 1rem;
      transition: 600ms ease;
    }
    p {
      margin: 0;
    }
    h3:hover {
      text-shadow: 1px 1px 1px rgb(73, 82, 90);
      color: $grapefruit;
    }
    .resume-history {
      padding-left: 1rem;
    }
    .resume-education {
      padding-left: 1rem;
    }
    .resume-text-sub {
      margin: .5rem 0 0 2rem;
      font-size: 1.1rem;
      transition: 600ms ease;
    }
    .resume-text-desc {
      padding-left: 3rem;
      font-size: 1.1rem;
      transition: 600ms ease;
    }
  }
}

.image-section-one {
  background-image: url('./images/astro.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.image-section-two {
  background-image: url('./images/matcha.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.image-section-three {
  display: flex;
  height: 70vh;
  background-color: #272932;
  z-index: 1;
  position: relative;
  .image-three {
    width: 33.3vw;
    object-fit: cover;
    transition: 600ms;
    opacity: 0;
    animation-name: slideshow;
    animation-duration: 6000ms;
    animation-fill-mode: forwards;
  }
  .text-desc {
    bottom: 0;
    left: 2vw;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    h1 {
      font-family: 'Bebas Neue', Lucida, sans-serif;
      font-size: 3rem;
    }
  }
}

@keyframes slideshow {
  5% {opacity: 1}
  100% {opacity: 1}
}

.blogs-section {
  display: flex;
  flex-direction: column;
  background-image: url('./images/comets.jpg');
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  .blogs-header-bar {
    padding: .5rem;
    min-height: 10vh;
    background: linear-gradient(90deg, rgba(255,84,139,.9) 0%, rgba(255,110,92,.9) 55%, rgba(255,131,97,.9) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    filter: brightness(1);
  }
  .blogs-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(43, 48, 58, .85);
    min-height: 90vh;
    padding: 0 10vw 1rem 10vw;
  }
  .blogs-text {
    max-width: 79vw;
    max-height: 70vh;
    width: 80vw;
    background: linear-gradient(90deg, rgba(251,252,255,1) 0%, rgba(218,233,255,1) 100%);
    border-radius: 0 0 1rem 1rem;
    padding: 0 5rem 1vh 5rem;
  }
}

.blog-slide {
  width: 60vw;
  max-height: 60vh;
  object-fit: contain;
}
button.control-arrow.control-next,
button.control-arrow.control-prev {
  width: 7.5vw;
}
.carousel .slide {
  background: $brown !important;
}

a.blog-link {
  font-family: "Spartan", Lucida, sans-serif;
  font-size: 1rem;
  color: white;
  height: 100%;
  transition: 600ms ease-in-out;
  padding-top: 1rem;
}

a.blog-link:hover {
  color: $grapefruit;
}

.contact-info {
  width: 79vw;
  min-height: 20vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  color: white;
  align-items: center;
  p {
    transition: 600ms ease;
    margin-bottom: 1.5vh;
  }
  p:hover {
    color: $grapefruit;
  }
}

.contact-links {
  display: flex;
  justify-content: space-between;
  min-width: 6vw;
  width: 13vw;
  height: 6vh;
  font-size: 2rem;
  margin-top: auto;
  a {
    color: white;
    transition: 600ms ease;
  }
  a:hover {
    color: $grapefruit;
  }
}

.contact-email-bottom {
  position: relative;
  right: 2vw;
  cursor: pointer;
}
