$brown: rgb(43, 48, 58);
$beige: rgb(240, 210, 134);
$white: rgb(231, 229, 229);
$gunmetal: rgb(28, 48, 65);
$grapefruit: #ff5e62;
$linearwhite: linear-gradient(90deg, rgba(251,252,255,1) 0%, rgba(218,233,255,.9) 100%);

@media only screen and (max-width: 800px) {
  .eric-sk-cheung {
    width: 10vw;
    height: 10vw;
  }
  
  .profile-left, .profile-right {
    display: none;
  }

  .header-bar {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    font-size: 8px;
  }
  
  .welcome-section {
    .signature {
      font-size: 18rem;
      height: 24rem;
      width: 24rem;
    }
  }

  .profile-left, .profile-right {
    display: none;
  }
  .profile-section {
    .profile-text {
      max-width: initial;
      font-size: 2rem;
    }
    h1, h2, h3 {
      font-size: 3rem;
    }
  }

  .header-bar {
    h1.projects-header,
    h1.resume-header,
    h1.blogs-header {
      font-family: 'Josefin Sans', sans-serif;
      margin-top: 1vh;
      font-size: 3rem;
    }
  }
    
  .image-section-one {
    height: 30vh;
  }
  .image-section-two {
    height: 30vh;
  }
  .image-section-three {
    height: 30vh;
  }

}
